body {
    background-color: #007BFF;
    color: #333333; 
        font-family: Arial, sans-serif; 
}

a {
    color: #FFD700; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.box {
    border: 1px solid #005CBF; 
    padding: 10px; 
    border-radius: 5px;
    width: 31%;
    background-color: #5582b4;
}

.display {
    display:flex;
    justify-content: space-around;
}

.box h2 {
    font-size: 20px;
    line-height: 22px;
}